In [112]:
import numpy as np 
import pandas as pd

from sklearn import linear_model

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [113]:
df=pd.read_csv("rainfall.csv")

In [114]:
df

          date  rainfall  temperature  humidity  wind_speed weather_condition
0   01/01/2022      12.5         15.2        78         8.5             Rainy
1   02/01/2022       8.2         17.8        65         5.2             Rainy
2   03/01/2022       0.0         20.1        52         3.1             Sunny
3   04/01/2022       3.7         18.6        71         6.7             Rainy
4   05/01/2022      21.1         14.8        82         9.3             Rainy
5   06/01/2022      15.3         16.5        75         7.8             Rainy
6   07/01/2022       6.8         19.2        61         4.5             Rainy
7   08/01/2022       0.0         21.7        48         2.9             Sunny
8   09/01/2022      11.2         17.3        73         6.1             Rainy
9   10/01/2022      18.6         15.8        79         8.9             Rainy
10  11/01/2022       9.5         16.2        72         5.7             Rainy
11  12/01/2022       2.1         19.8        58         3.5             Rainy
12  13/01/2022       0.0         22.4        45         2.1             Sunny
13  14/01/2022       7.4         17.9        69         6.5             Rainy
14  15/01/2022      14.9         15.1        81         8.7             Rainy
15  16/01/2022      19.2         16.8        77         7.2             Rainy
16  17/01/2022       5.6         18.5        63         4.9             Rainy
17  18/01/2022       0.0         21.2        51         3.3             Sunny
18  19/01/2022      10.8         17.6        75         6.7             Rainy
19  20/01/2022      16.3         14.5        84         9.1             Rainy
20  21/01/2022       3.9         16.1        71         5.3             Rainy
21  22/01/2022       0.0         19.4        59         4.1             Sunny
22  23/01/2022       7.1         18.2        67         7.1             Rainy
23  24/01/2022      12.7         15.7        79         8.3             Rainy
24  25/01/2022      18.4         17.1        76         6.8             Rainy
25  26/01/2022       9.8         19.7        62         4.7             Rainy
26  27/01/2022       0.0         22.9        47         2.5             Sunny
27  28/01/2022       6.2         18.5        70         7.3             Rainy
28  29/01/2022      15.5         14.2        83         9.5             Rainy
29  30/01/2022      21.8         16.4        78         7.6             Rainy
30  31/01/2022      11.6         19.1        65         5.1             Rainy
31  01/02/2022       0.0         21.6        53         3.7             Sunny
32  02/02/2022       4.3         17.2        73         7.5             Rainy
33  03/02/2022       9.1         15.4        81         8.9             Rainy
34  04/02/2022      17.9         16.7        77         6.2             Rainy
35  05/02/2022       7.5         18.9        64         4.3             Rainy
36  06/02/2022       0.0         22.1        49         2.7             Sunny
37  07/02/2022       5.8         17.8        72         6.9             Rainy
38  08/02/2022      13.2         14.7        85         9.3             Rainy
39  09/02/2022      19.6         16.2        79         7.8             Rainy
40  10/02/2022      10.4         19.5        66         5.5             Rainy
41  11/02/2022       0.0         23.4        44         3.1             Sunny
42  12/02/2022       6.7         18.1        74         7.7             Rainy
43  13/02/2022      14.8         13.9        87         9.9             Rainy
44  14/02/2022      20.5         15.6        81         8.2             Rainy
45  15/02/2022       8.3         19.2        68         6.1             Rainy
46  16/02/2022       0.0         22.7        51         4.5             Sunny
47  17/02/2022       5.1         17.4        75         8.3             Rainy
48  18/02/2022      11.9         14.1        89        10.5             Rainy
49  19/02/2022      17.3         15.9        83         8.6             Rainy
50  20/02/2022       9.6         18.6        71         6.7             Rainy
51  21/02/2022       0.0         21.3        55         5.1             Sunny
52  22/02/2022       7.4         16.8        77         8.9             Rainy

In [115]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               53 non-null     object
 1   rainfall           53 non-null     float64
 2   temperature        53 non-null     float64
 3   humidity           53 non-null     int64
 4   wind_speed         53 non-null     float64
 5   weather_condition  53 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ KB
None

In [116]:
print(df.isnull().sum())

date                 0
rainfall             0
temperature          0
humidity             0
wind_speed           0
weather_condition    0
dtype: int64

In [117]:
df = df.drop("date", axis=1)

In [118]:
dfs = df.drop("weather_condition", axis=1)

In [119]:
dfs=df['weather_condition']

In [120]:
df

    rainfall  temperature  humidity  wind_speed weather_condition
0       12.5         15.2        78         8.5             Rainy
1        8.2         17.8        65         5.2             Rainy
2        0.0         20.1        52         3.1             Sunny
3        3.7         18.6        71         6.7             Rainy
4       21.1         14.8        82         9.3             Rainy
5       15.3         16.5        75         7.8             Rainy
6        6.8         19.2        61         4.5             Rainy
7        0.0         21.7        48         2.9             Sunny
8       11.2         17.3        73         6.1             Rainy
9       18.6         15.8        79         8.9             Rainy
10       9.5         16.2        72         5.7             Rainy
11       2.1         19.8        58         3.5             Rainy
12       0.0         22.4        45         2.1             Sunny
13       7.4         17.9        69         6.5             Rainy
14      14.9         15.1        81         8.7             Rainy
15      19.2         16.8        77         7.2             Rainy
16       5.6         18.5        63         4.9             Rainy
17       0.0         21.2        51         3.3             Sunny
18      10.8         17.6        75         6.7             Rainy
19      16.3         14.5        84         9.1             Rainy
20       3.9         16.1        71         5.3             Rainy
21       0.0         19.4        59         4.1             Sunny
22       7.1         18.2        67         7.1             Rainy
23      12.7         15.7        79         8.3             Rainy
24      18.4         17.1        76         6.8             Rainy
25       9.8         19.7        62         4.7             Rainy
26       0.0         22.9        47         2.5             Sunny
27       6.2         18.5        70         7.3             Rainy
28      15.5         14.2        83         9.5             Rainy
29      21.8         16.4        78         7.6             Rainy
30      11.6         19.1        65         5.1             Rainy
31       0.0         21.6        53         3.7             Sunny
32       4.3         17.2        73         7.5             Rainy
33       9.1         15.4        81         8.9             Rainy
34      17.9         16.7        77         6.2             Rainy
35       7.5         18.9        64         4.3             Rainy
36       0.0         22.1        49         2.7             Sunny
37       5.8         17.8        72         6.9             Rainy
38      13.2         14.7        85         9.3             Rainy
39      19.6         16.2        79         7.8             Rainy
40      10.4         19.5        66         5.5             Rainy
41       0.0         23.4        44         3.1             Sunny
42       6.7         18.1        74         7.7             Rainy
43      14.8         13.9        87         9.9             Rainy
44      20.5         15.6        81         8.2             Rainy
45       8.3         19.2        68         6.1             Rainy
46       0.0         22.7        51         4.5             Sunny
47       5.1         17.4        75         8.3             Rainy
48      11.9         14.1        89        10.5             Rainy
49      17.3         15.9        83         8.6             Rainy
50       9.6         18.6        71         6.7             Rainy
51       0.0         21.3        55         5.1             Sunny
52       7.4         16.8        77         8.9             Rainy

In [121]:
dfz =pd.get_dummies(dfs, dtype=int)

In [122]:
dfz

    Rainy  Sunny
0       1      0
1       1      0
2       0      1
3       1      0
4       1      0
5       1      0
6       1      0
7       0      1
8       1      0
9       1      0
10      1      0
11      1      0
12      0      1
13      1      0
14      1      0
15      1      0
16      1      0
17      0      1
18      1      0
19      1      0
20      1      0
21      0      1
22      1      0
23      1      0
24      1      0
25      1      0
26      0      1
27      1      0
28      1      0
29      1      0
30      1      0
31      0      1
32      1      0
33      1      0
34      1      0
35      1      0
36      0      1
37      1      0
38      1      0
39      1      0
40      1      0
41      0      1
42      1      0
43      1      0
44      1      0
45      1      0
46      0      1
47      1      0
48      1      0
49      1      0
50      1      0
51      0      1
52      1      0

In [129]:
X = df.drop('weather_condition', axis=1)

y = dfz["Sunny"]

In [130]:
y

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    0
15    0
16    0
17    1
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    1
27    0
28    0
29    0
30    0
31    1
32    0
33    0
34    0
35    0
36    1
37    0
38    0
39    0
40    0
41    1
42    0
43    0
44    0
45    0
46    1
47    0
48    0
49    0
50    0
51    1
52    0
Name: Sunny, dtype: int32

In [131]:
print(X)

    rainfall  temperature  humidity  wind_speed
0       12.5         15.2        78         8.5
1        8.2         17.8        65         5.2
2        0.0         20.1        52         3.1
3        3.7         18.6        71         6.7
4       21.1         14.8        82         9.3
5       15.3         16.5        75         7.8
6        6.8         19.2        61         4.5
7        0.0         21.7        48         2.9
8       11.2         17.3        73         6.1
9       18.6         15.8        79         8.9
10       9.5         16.2        72         5.7
11       2.1         19.8        58         3.5
12       0.0         22.4        45         2.1
13       7.4         17.9        69         6.5
14      14.9         15.1        81         8.7
15      19.2         16.8        77         7.2
16       5.6         18.5        63         4.9
17       0.0         21.2        51         3.3
18      10.8         17.6        75         6.7
19      16.3         14.5        84         9.1
20       3.9         16.1        71         5.3
21       0.0         19.4        59         4.1
22       7.1         18.2        67         7.1
23      12.7         15.7        79         8.3
24      18.4         17.1        76         6.8
25       9.8         19.7        62         4.7
26       0.0         22.9        47         2.5
27       6.2         18.5        70         7.3
28      15.5         14.2        83         9.5
29      21.8         16.4        78         7.6
30      11.6         19.1        65         5.1
31       0.0         21.6        53         3.7
32       4.3         17.2        73         7.5
33       9.1         15.4        81         8.9
34      17.9         16.7        77         6.2
35       7.5         18.9        64         4.3
36       0.0         22.1        49         2.7
37       5.8         17.8        72         6.9
38      13.2         14.7        85         9.3
39      19.6         16.2        79         7.8
40      10.4         19.5        66         5.5
41       0.0         23.4        44         3.1
42       6.7         18.1        74         7.7
43      14.8         13.9        87         9.9
44      20.5         15.6        81         8.2
45       8.3         19.2        68         6.1
46       0.0         22.7        51         4.5
47       5.1         17.4        75         8.3
48      11.9         14.1        89        10.5
49      17.3         15.9        83         8.6
50       9.6         18.6        71         6.7
51       0.0         21.3        55         5.1
52       7.4         16.8        77         8.9

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

In [137]:
model.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial')

In [138]:
y_pred = model.predict(X_test)

In [139]:
from sklearn.metrics import mean_squared_error, r2_score
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'\nMean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 0.0
R^2 Score: 1.0